# Inciando o PySpark

In [2]:
! pip install pyspark

Requirement already satisfied: pyspark in /home/anselmo/anaconda3/lib/python3.12/site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /home/anselmo/anaconda3/lib/python3.12/site-packages (from pyspark) (0.10.9.7)

Criando a Sess√£o Spark 'SparkSession'

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession\
                    .builder\
                    .master('local[*]') \
                    .appName('Inciando_Spark').getOrCreate()
spark

your 131072x1 screen size is bogus. expect trouble
25/01/23 22:36:31 WARN Utils: Your hostname, AnselmoHome resolves to a loopback address: 127.0.1.1; using 172.17.64.178 instead (on interface eth0)
25/01/23 22:36:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/23 22:36:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#lista Nome Idade

data = [('Zeca', '35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']

dados = spark.createDataFrame(data, colNames)
dados.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

In [5]:
dados.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29

# Montando nosso drive

## üóÇ Trecho do Codigo para Descompactar Arquivos  

. Trecho do codigo
import zipfile


```bash
zip_files = [
    '../data/empresas.zip',        # Exemplo: Arquivo de dados das empresas
    '../data/estabelecimentos.zip', # Exemplo: Arquivo de dados dos estabelecimentos
    '../data/socios.zip'           # Exemplo: Arquivo de dados dos s√≥cios
]

# Loop para extrair cada arquivo
for zip_file in zip_files:
    # Extraindo o conte√∫do do arquivo ZIP
    zipfile.ZipFile(zip_file, 'r').extractall('../data')
    # Exemplo: Se 'empresas.zip' cont√©m 'empresas.csv', o arquivo ser√° extra√≠do para '../data/empresas.csv'

Carregando dados Empresa

In [6]:
path_empresas= '../data/empresas'
empresas = spark.read.csv(path_empresas, sep=';', inferSchema=True)
empresas.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6
0,306,FRANCAMAR REFRIGERACAO TECNICA S/C LTDA,2240,49,"0,00",1,None
1,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,"0,00",5,None
2,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,"0,00",5,None
3,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,"0,00",5,None
4,6846,BADU E FILHOS TECIDOS LTDA,2062,49,"4000,00",1,None

Carregando dados Estabelecimentos

In [7]:
path_estabelecimentos = '../data/estabelecimentos'
estabelecimentos = spark.read.csv(path_estabelecimentos, sep=';', inferSchema=True)
estabelecimentos.limit(5).toPandas()

25/01/23 22:37:52 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c20,_c21,_c22,_c23,_c24,_c25,_c26,_c27,_c28,_c29
0,1879,1,96,1,PIRAMIDE M. C.,8,20011029,1,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
1,2818,1,43,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
2,3110,1,7,1,None,8,19971231,1,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
3,3733,1,80,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
4,4628,3,27,2,EMBROIDERY & GIFT,8,19980429,1,None,NaN,...,7075,None,None,None,None,NaN,None,None,None,NaN

Carregando dados Socios

In [8]:
path_socios= '../data/socios'
socios = spark.read.csv(path_socios, sep=';', inferSchema=True)
socios.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22,19940725,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28,19940725,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,19940516,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,19940516,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49,19940609,NaN,***000000**,None,0,8

# Opera√ß√µes Basicas

In [9]:
socios.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: integer (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: integer (nullable = true)
 |-- _c10: integer (nullable = true)

In [10]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']
for index, colNames in enumerate(empresasColNames):
  empresas = empresas.withColumnRenamed(f"_c{index}", colNames)
empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [11]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']
for index,colName in enumerate(estabsColNames):
  estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colName)
estabelecimentos.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [12]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']
for index,colName in enumerate(sociosColNames):
  socios = socios.withColumnRenamed(f"_c{index}", colName)
socios.columns

['cnpj_basico',
 'identificador_de_socio',
 'nome_do_socio_ou_razao_social',
 'cnpj_ou_cpf_do_socio',
 'qualificacao_do_socio',
 'data_de_entrada_sociedade',
 'pais',
 'representante_legal',
 'nome_do_representante',
 'qualificacao_do_representante_legal',
 'faixa_etaria']

In [13]:
socios.show(truncate=False)

+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social  |cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|411        |2                     |LILIANA PATRICIA GUASTAVINO    |***678188**         |22                   |19940725                 |NULL|***000000**        |NULL                 |0                                  |7           |
|411        |2                     |CRISTINA HUNDERTMARK           |***637848**         |28                   |19940725                 |NULL|***000000**        |NULL                 |0                                  |7           |
|5813       |2                     |CELSO EDUARDO DE CASTRO STEPHAN|***786068**         |49                   |19940516                 |NULL|***000000**        |NULL                 |0                                  |8           |
|5813       |2                     |EDUARDO BERRINGER STEPHAN      |***442348**         |49                   |19940516                 |NULL|***000000**        |NULL                 |0                                  |5           |
|14798      |2                     |HANNE MAHFOUD FADEL            |***760388**         |49                   |19940609                 |NULL|***000000**        |NULL                 |0                                  |8           |
|14798      |2                     |CLOD ASSAD FADEL               |***205668**         |22                   |19940609                 |NULL|***000000**        |NULL                 |0                                  |6           |
|17826      |2                     |WALKYRIA ALGARVES              |***689078**         |49                   |19970227                 |NULL|***000000**        |NULL                 |0                                  |7           |
|17826      |2                     |SEBASTIAO JADIR TEIXEIRA NUNES |***904728**         |49                   |20090813                 |NULL|***000000**        |NULL                 |0                                  |5           |
|19491      |2                     |JOSE JOAO ADAMO                |***235698**         |49                   |19940615                 |NULL|***000000**        |NULL                 |0                                  |7           |
|19491      |2                     |ROSEMARY CANTUARIA AFONSO ADAMO|***959818**         |49                   |19940615                 |NULL|***000000**        |NULL                 |0                                  |6           |
|27848      |2                     |MARCOS AURELIO MOTTA           |***262857**         |49                   |19940718                 |NULL|***000000**        |NULL                 |0                                  |7           |
|27848      |2                     |EDVAN CANDIDO ALENCAR          |***460998**         |22                   |19940718                 |NULL|***000000**        |NULL                 |0                                  |5           |
|35232      |2                     |JAIME MOURE COLINO             |***565078**         |49                   |19941020                 |NULL|***000000**        |NULL                 |0                                  |6           |
|35232      |2                     |SANDRA APARECIDA CRUZ LEONE    |***120938**         |49                   |19960628                 |NULL|***000000**        |NULL                 |0                                  |6           |
|35232      |2                     |LEIDA MARQUES PEREIRA VICENTE  |***395928**         |49                   |19960628                 |NULL|***000000**        |NULL                 |0                                  |6           |
|56221      |2                     |DONZILIA FERREIRA REGO         |***904307**         |49                   |19940427                 |NULL|***000000**        |NULL                 |0                                  |8           |
|56221      |2                     |ISRAEL AMERICANO REGO          |***571606**         |22                   |19940424                 |NULL|***000000**        |NULL                 |0                                  |5           |
|82946      |2                     |VALERIA RIBEIRO TEIXEIRA       |***438401**         |22                   |19940601                 |NULL|***000000**        |NULL                 |0                                  |6           |
|82946      |2                     |CARLOS RAFAEL DO LIVRAMENTO    |***701279**         |49                   |20090922                 |NULL|***000000**        |NULL                 |0                                  |5           |
|85894      |2                     |IVAN MARQUEZ DE MOURA          |***342771**         |49                   |19820608                 |NULL|***000000**        |NULL                 |0                                  |7           |
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 20 rows

In [14]:
estabelecimentos.limit(5).show(truncate=False)

+-----------+----------+-------+---------------------------+-----------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+----------------------+------+-----------+------------------+-------+---+---------+-----+----------+-----+----------+----------+----+------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia    |situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|logradouro            |numero|complemento|bairro            |cep    |uf |municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|fax |correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+-----------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+----------------------+------+-----------+------------------+-------+---+---------+-----+----------+-----+----------+----------+----+------------------+-----------------+-------------------------+
|1879       |1         |96     |1                          |PIRAMIDE M. C.   |8                 |20011029               |1                        |NULL                      |NULL|19940509                |1412602              |NULL                  |RUA               |JOSE FIGLIOLINI       |608   |NULL       |VILA NILO         |2278020|SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL|NULL              |NULL             |NULL                     |
|2818       |1         |43     |1                          |NULL             |8                 |20081231               |71                       |NULL                      |NULL|19940512                |4671100              |NULL                  |RUA               |BAQUIA                |416   |NULL       |VL NOVA MANCHESTER|3443000|SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL|NULL              |NULL             |NULL                     |
|3110       |1         |7      |1                          |NULL             |8                 |19971231               |1                        |NULL                      |NULL|19940512                |4789007              |NULL                  |RUA               |LEOCADIA CINTRA       |180   |CONJ 83    |MOOCA             |3112040|SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL|NULL              |NULL             |NULL                     |
|3733       |1         |80     |1                          |NULL             |8                 |20081231               |71                       |NULL                      |NULL|19940513                |7490101              |NULL                  |RUA               |AFONSO CELSO          |1102  |CASA 1     |VILA MARIANA      |4119061|SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL|NULL              |NULL             |NULL                     |
|4628       |3         |27     |2                          |EMBROIDERY & GIFT|8                 |19980429               |1                        |NULL                      |NULL|19950509                |4755501              |NULL                  |RUA               |DOUTOR GABRIEL NICOLAU|177   |NULL       |RUDGE RAMOS       |9632040|SP |7075     |NULL |NULL      |NULL |NULL      |NULL      |NULL|NULL              |NULL             |NULL                     |
+-----------+----------+-------+---------------------------+-----------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+----------------------+------+-----------+------------------+-------+---+---------+-----+----------+-----+----------+----------+----+------------------+-----------------+-------------------------+

In [15]:
empresas.limit(5).show(truncate=False)

+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                               |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|306        |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                         |0,00                     |1               |NULL                       |
|1355       |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                         |0,00                     |5               |NULL                       |
|4820       |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                         |0,00                     |5               |NULL                       |
|5347       |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                         |0,00                     |5               |NULL                       |
|6846       |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                         |4000,00                  |1               |NULL                       |
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

In [16]:
socios.limit(5).show(truncate=False)

+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social  |cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|411        |2                     |LILIANA PATRICIA GUASTAVINO    |***678188**         |22                   |19940725                 |NULL|***000000**        |NULL                 |0                                  |7           |
|411        |2                     |CRISTINA HUNDERTMARK           |***637848**         |28                   |19940725                 |NULL|***000000**        |NULL                 |0                                  |7           |
|5813       |2                     |CELSO EDUARDO DE CASTRO STEPHAN|***786068**         |49                   |19940516                 |NULL|***000000**        |NULL                 |0                                  |8           |
|5813       |2                     |EDUARDO BERRINGER STEPHAN      |***442348**         |49                   |19940516                 |NULL|***000000**        |NULL                 |0                                  |5           |
|14798      |2                     |HANNE MAHFOUD FADEL            |***760388**         |49                   |19940609                 |NULL|***000000**        |NULL                 |0                                  |8           |
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

# Convertendo Dados

In [17]:
from pyspark.sql.types import IntegerType, StringType, DoubleType, DateType
from pyspark.sql import functions as f

In [18]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [19]:
# Alterando o Campo capital_social_da_empresa para '.' ou inves de ','
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa', ',', '.'))

In [20]:
empresas = empresas.withColumn('capital_social_da_empresa', empresas['capital_social_da_empresa'].cast(DoubleType()))
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [21]:
empresas.limit(5).show(truncate=False)

+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                               |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|306        |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                         |0.0                      |1               |NULL                       |
|1355       |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                         |0.0                      |5               |NULL                       |
|4820       |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                         |0.0                      |5               |NULL                       |
|5347       |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                         |0.0                      |5               |NULL                       |
|6846       |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                         |4000.0                   |1               |NULL                       |
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

In [22]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [23]:
estabelecimentos = estabelecimentos\
          .withColumn(
            'data_da_situacao_especial',\
              f.to_date(estabelecimentos['data_da_situacao_especial'].cast(StringType()), "yyyyMMdd")
          ).withColumn(
              'data_de_inicio_atividade',\
              f.to_date(estabelecimentos['data_de_inicio_atividade'].cast(StringType()), "yyyyMMdd")
          ).withColumn(
              'situacao_cadastral',\
              f.to_date(estabelecimentos['situacao_cadastral'].cast(StringType()), "yyyyMMdd"))
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: date (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [24]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [25]:
socios = socios\
      .withColumn('data_de_entrada_sociedade',\
        f.to_date(socios['data_de_entrada_sociedade'].cast(StringType()), "yyyyMMdd"))

In [26]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [27]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22,1994-07-25,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28,1994-07-25,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,1994-05-16,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,1994-05-16,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49,1994-06-09,NaN,***000000**,None,0,8

# Sele√ß√µes e Consultas

Selecionando Informa√ß√µes

In [28]:
empresas\
    .select('*')\
    .show()

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                      0.0|               1|                       NULL|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                      0.0|               5|                       NULL|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                      0.0|               5|                       NULL|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                      0.0|               5|                       NULL|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                   4000.0|               1|                       NULL|
|       8416|           ELETRICA RUBI LTDA|             2062|                         49|                      0.0|               5|                       NULL|
|       8992|         SHIROMA VEICULOS ...|             2062|                         49|                      0.0|               5|                       NULL|
|       9091|         CONTATOS BAR E LA...|             2062|                         49|                      0.0|               5|                       NULL|
|       9614|         ANTONIA APARECIDA...|             2135|                         50|                      0.0|               5|                       NULL|
|       9896|         DORACY CORAT DA C...|             2135|                         50|                      0.0|               5|                       NULL|
|      12112|         LANCHONETE RIO VE...|             2062|                         49|                      0.0|               5|                       NULL|
|      12605|         VALMAR JACAREI CO...|             2062|                         49|                      0.0|               5|                       NULL|
|      13407|         ROSANA CRISTINA D...|             2135|                         50|                      0.0|               5|                       NULL|
|      13408|         CELIO RODRIGUES D...|             2135|                         50|                      0.0|               5|                       NULL|
|      13721|         MAQFRAN COMERCIO ...|             2062|                         49|                      0.0|               1|                       NULL|
|      21181|         MOURA & SILVA MER...|             2062|                         49|                      0.0|               5|                       NULL|
|      21858|         PAMARATI COMERCIO...|             2135|                         50|                      0.0|               1|                       NULL|
|      22277|         INACIO RODRIGUES ...|             2135|                         50|                      0.0|               5|                       NULL|
|      24205|         SUELY LEME MARI A...|             2135|                         50|                   1000.0|               1|                       NULL|
|      26805|         SUELI BATISTA DA ...|             2135|                         50|                      0.0|               5|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 20 rows

In [29]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: date (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [30]:
from os import truncate
estabelecimentos\
    .select('nome_fantasia', 'municipio',
            f.year(estabelecimentos['data_de_inicio_atividade']).alias('ano_de_inicio_atividade'),
            f.month(estabelecimentos['data_de_inicio_atividade']).alias('mes_de_inicio_atividade'))\
    .show(truncate=False)

+-----------------------------------+---------+-----------------------+-----------------------+
|nome_fantasia                      |municipio|ano_de_inicio_atividade|mes_de_inicio_atividade|
+-----------------------------------+---------+-----------------------+-----------------------+
|PIRAMIDE M. C.                     |7107     |1994                   |5                      |
|NULL                               |7107     |1994                   |5                      |
|NULL                               |7107     |1994                   |5                      |
|NULL                               |7107     |1994                   |5                      |
|EMBROIDERY & GIFT                  |7075     |1995                   |5                      |
|NULL                               |7075     |1999                   |7                      |
|EMBROIDERY & GIFT                  |7075     |1995                   |4                      |
|NULL                               |7075     |1994                   |5                      |
|KOLVOX                             |7107     |1994                   |5                      |
|PROLAV                             |7107     |1994                   |5                      |
|NULL                               |6163     |1994                   |6                      |
|MINI SACOLAO VILA CRISTINA         |7107     |1994                   |6                      |
|J Z B COMERCIO DE INSUMOS AGRICOLAS|6117     |1994                   |6                      |
|NULL                               |6607     |1994                   |6                      |
|NULL                               |7079     |1994                   |6                      |
|LEGO                               |7107     |1994                   |6                      |
|NULL                               |7107     |2004                   |12                     |
|NULL                               |6001     |1968                   |7                      |
|NULL                               |7145     |1994                   |6                      |
|POSTO XARA                         |9295     |1982                   |1                      |
+-----------------------------------+---------+-----------------------+-----------------------+
only showing top 20 rows

In [31]:
# verificar quantidade de nulo por coluna
socios.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                          208|                1234|                    0|                        1|2038255|                  0|              1995432|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+

In [32]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [33]:
socios\
        .select('nome_do_socio_ou_razao_social','faixa_etaria' , f.year('data_de_entrada_sociedade').alias('ano_entrada_sociedade'))\
        .orderBy(['ano_entrada_sociedade', 'faixa_etaria'], ascending=[False, False])\
        .show(5, False)

+-------------------------------+------------+---------------------+
|nome_do_socio_ou_razao_social  |faixa_etaria|ano_entrada_sociedade|
+-------------------------------+------------+---------------------+
|MARIA RAIMUNDA DOS SANTOS LANZA|9           |2021                 |
|EDGAR FRANCISCO DA SILVA       |9           |2021                 |
|MARIA JOSE DOMINGUES BONATO    |9           |2021                 |
|WILLIAM WHITING BEACH VEALE    |9           |2021                 |
|DORIS PEREIRA GOMES JAZRA      |9           |2021                 |
+-------------------------------+------------+---------------------+
only showing top 5 rows

In [34]:
socios\
        .select('nome_do_socio_ou_razao_social','faixa_etaria' , f.year('data_de_entrada_sociedade').alias('ano_entrada_sociedade'))\
        .orderBy('ano_entrada_sociedade', ascending=True)\
        .show(5, False)

+-------------------------------+------------+---------------------+
|nome_do_socio_ou_razao_social  |faixa_etaria|ano_entrada_sociedade|
+-------------------------------+------------+---------------------+
|JOAO FRANCISCO DE AMORIM JUNCAL|3           |NULL                 |
|MARIA SILENE BEZERRA DE AGUIAR |8           |1900                 |
|NAIR YOKO HIRAI TAKAKI         |7           |1900                 |
|VALMAR CARDOSO DE SANTANA      |5           |1901                 |
|JOSE NELSON VIEIRA CAMPOS      |6           |1901                 |
+-------------------------------+------------+---------------------+
only showing top 5 rows

TRABALHANDO COM FILTROS 'WHERE' E OU 'FILTER'

In [35]:
socios\
   .select('nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio')\
   .filter(socios['nome_do_socio_ou_razao_social'].startswith(''))\
   .filter(socios['nome_do_socio_ou_razao_social'].endswith(''))\
   .show(truncate=False)

+-------------------------------+--------------------+
|nome_do_socio_ou_razao_social  |cnpj_ou_cpf_do_socio|
+-------------------------------+--------------------+
|LILIANA PATRICIA GUASTAVINO    |***678188**         |
|CRISTINA HUNDERTMARK           |***637848**         |
|CELSO EDUARDO DE CASTRO STEPHAN|***786068**         |
|EDUARDO BERRINGER STEPHAN      |***442348**         |
|HANNE MAHFOUD FADEL            |***760388**         |
|CLOD ASSAD FADEL               |***205668**         |
|WALKYRIA ALGARVES              |***689078**         |
|SEBASTIAO JADIR TEIXEIRA NUNES |***904728**         |
|JOSE JOAO ADAMO                |***235698**         |
|ROSEMARY CANTUARIA AFONSO ADAMO|***959818**         |
|MARCOS AURELIO MOTTA           |***262857**         |
|EDVAN CANDIDO ALENCAR          |***460998**         |
|JAIME MOURE COLINO             |***565078**         |
|SANDRA APARECIDA CRUZ LEONE    |***120938**         |
|LEIDA MARQUES PEREIRA VICENTE  |***395928**         |
|DONZILIA FERREIRA REGO         |***904307**         |
|ISRAEL AMERICANO REGO          |***571606**         |
|VALERIA RIBEIRO TEIXEIRA       |***438401**         |
|CARLOS RAFAEL DO LIVRAMENTO    |***701279**         |
|IVAN MARQUEZ DE MOURA          |***342771**         |
+-------------------------------+--------------------+
only showing top 20 rows

In [36]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [37]:
empresas\
   .select('razao_social_nome_empresarial', 'capital_social_da_empresa','cnpj_basico', 'ente_federativo_responsavel')\
   .filter(empresas['razao_social_nome_empresarial'].startswith(''))\
   .filter(empresas['razao_social_nome_empresarial'].endswith(''))\
   .show(truncate=False)

+--------------------------------------------------------------------------------------------+-------------------------+-----------+---------------------------+
|razao_social_nome_empresarial                                                               |capital_social_da_empresa|cnpj_basico|ente_federativo_responsavel|
+--------------------------------------------------------------------------------------------+-------------------------+-----------+---------------------------+
|FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |0.0                      |306        |NULL                       |
|BRASILEIRO & OLIVEIRA LTDA                                                                  |0.0                      |1355       |NULL                       |
|REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|0.0                      |4820       |NULL                       |
|ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |0.0                      |5347       |NULL                       |
|BADU E FILHOS TECIDOS LTDA                                                                  |4000.0                   |6846       |NULL                       |
|ELETRICA RUBI LTDA                                                                          |0.0                      |8416       |NULL                       |
|SHIROMA VEICULOS LTDA.                                                                      |0.0                      |8992       |NULL                       |
|CONTATOS BAR E LANCHONETE LTDA                                                              |0.0                      |9091       |NULL                       |
|ANTONIA APARECIDA DE SOUZA ULIANA                                                           |0.0                      |9614       |NULL                       |
|DORACY CORAT DA COSTA                                                                       |0.0                      |9896       |NULL                       |
|LANCHONETE RIO VERMELHO LTDA                                                                |0.0                      |12112      |NULL                       |
|VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC LTDA                                          |0.0                      |12605      |NULL                       |
|ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA                                                |0.0                      |13407      |NULL                       |
|CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS                                               |0.0                      |13408      |NULL                       |
|MAQFRAN COMERCIO DE PECAS LTDA                                                              |0.0                      |13721      |NULL                       |
|MOURA & SILVA MERCEARIA LIMITADA                                                            |0.0                      |21181      |NULL                       |
|PAMARATI COMERCIO DE RACOES LTDA                                                            |0.0                      |21858      |NULL                       |
|INACIO RODRIGUES DO NASCIMENTO                                                              |0.0                      |22277      |NULL                       |
|SUELY LEME MARI ANI 25086572800                                                             |1000.0                   |24205      |NULL                       |
|SUELI BATISTA DA COSTA SILVA                                                                |0.0                      |26805      |NULL                       |
+--------------------------------------------------------------------------------------------+-------------------------+-----------+---------------------------+
only showing top 20 rows

In [38]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: date (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [39]:
estabelecimentos\
   .select('nome_fantasia', 'data_de_inicio_atividade','logradouro', 'bairro')\
   .filter(estabelecimentos['nome_fantasia'].startswith(''))\
   .filter(estabelecimentos['nome_fantasia'].endswith(''))\
   .show(truncate=False)

+-----------------------------------+------------------------+----------------------+-----------------+
|nome_fantasia                      |data_de_inicio_atividade|logradouro            |bairro           |
+-----------------------------------+------------------------+----------------------+-----------------+
|PIRAMIDE M. C.                     |1994-05-09              |JOSE FIGLIOLINI       |VILA NILO        |
|EMBROIDERY & GIFT                  |1995-05-09              |DOUTOR GABRIEL NICOLAU|RUDGE RAMOS      |
|EMBROIDERY & GIFT                  |1995-04-06              |KENNEDY               |JD TRES MARIAS   |
|KOLVOX                             |1994-05-30              |NORDESTINA            |VILA AMERICANA   |
|PROLAV                             |1994-05-30              |PITAGUARAS            |POMPEIA          |
|MINI SACOLAO VILA CRISTINA         |1994-06-10              |JAN DE CAPELLI        |PQ BRISTOL       |
|J Z B COMERCIO DE INSUMOS AGRICOLAS|1994-06-15              |MUNIC.ALTAIR A GUARACI|ZONA RURAL       |
|LEGO                               |1994-06-29              |CEL EMIDIO PIEDADE    |PARI             |
|POSTO XARA                         |1982-01-14              |BR 050                |ZONA RURAL       |
|VICAR LOCADORA DE VEICULOS         |1994-07-15              |HENRIQUE DE S QUEIROZ |PENHA            |
|TRANS RODRIGUES                    |1994-08-09              |RIO GRANDE            |SANTO ANTONIO    |
|LANCHE AZUL                        |1982-03-05              |IPAMERI               |CAMPINAS         |
|ARMAZEM HERLYS                     |1982-03-09              |STA CATARINA          |CENTRO           |
|MERCEARIA AKI TEM                  |1994-04-29              |RESIDENCIAL CABULA VI |CABULA VI        |
|LONGSHINE                          |1994-05-13              |LOC  BR 153           |CHACARA MARIVANIA|
|MINI MERCADO POPULAR               |1994-05-18              |JANGO MASCARENHAS     |VILA QUARENTA    |
|POLICON                            |1994-05-18              |C 74                  |ST SUDOESTE      |
|KIOSKI LANCHES                     |1994-05-19              |CLERISTON ANDRADE     |MIMOSO DO OESTE  |
|BEBIDAS E CIA MOURA                |1994-06-02              |AEROPORTO             |SETOR AEROPORTO  |
|DEPOSITO DE GAS MOURA              |2007-10-04              |04                    |AEROPORTO        |
+-----------------------------------+------------------------+----------------------+-----------------+
only showing top 20 rows

In [40]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [41]:
(
    empresas
        .select('razao_social_nome_empresarial', 
                'capital_social_da_empresa', 
                'cnpj_basico')
        .filter(f.upper(empresas['razao_social_nome_empresarial']).like('%RESTAURANTE%'))
        .show(truncate=False) 
)

+-------------------------------------------------------+-------------------------+-----------+
|razao_social_nome_empresarial                          |capital_social_da_empresa|cnpj_basico|
+-------------------------------------------------------+-------------------------+-----------+
|RESTAURANTE IMIGRANTE PORTUGUES LTDA.                  |0.0                      |391778     |
|MORAIS & CARVALHO RESTAURANTE E PIZZARIA LTDA          |0.0                      |984425     |
|BAR E RESTAURANTE PAGANOTTO LTDA                       |0.0                      |1129084    |
|RODRIGUES & RODRIGUES RESTAURANTE LTDA                 |0.0                      |1478066    |
|TEXAS RANCH BAR RESTAURANTE PRODUCOES ARTISTICAS E CULT|0.0                      |1653766    |
|V V SANTOS RESTAURANTE BAR E ATIV DESPORTIVAS LTDA     |0.0                      |2163700    |
|BAR E RESTAURANTE CASA DA QUINTA LTDA                  |5000.0                   |2591875    |
|DON MUGO RESTAURANTE LTDA                              |10000.0                  |3059084    |
|MARIA ROZA DOS SANTOS- BAR E RESTAURANTE               |0.0                      |3360043    |
|GERACAO DE OURO - BAR E RESTAURANTE LTDA               |40000.0                  |3396661    |
|ELIANIA A. CUSTODIO RESTAURANTE                        |0.0                      |3418891    |
|DOCE ESPIGA RESTAURANTE LTDA                           |0.0                      |4171178    |
|R. A. D. ABRIL RESTAURANTE                             |0.0                      |4305763    |
|BAR E RESTAURANTE IULIANCHESE LTDA.                    |0.0                      |4717812    |
|R. DA S. ARAUJO - RESTAURANTE                          |0.0                      |4744505    |
|CHINELAO RESTAURANTE JAPONES LTDA                      |0.0                      |5438922    |
|RESTAURANTE E PETISCARIA THE-DELICIA LTDA              |0.0                      |5618763    |
|PSTJ RESTAURANTE LTDA                                  |30000.0                  |5930238    |
|CASTELO RESTAURANTE LTDA                               |10000.0                  |6218415    |
|VALENTE SUZART FRANCO RESTAURANTE, CREPERIA E BAR LTDA |90000.0                  |7137310    |
+-------------------------------------------------------+-------------------------+-----------+
only showing top 20 rows

# Sumarizando os dados

In [42]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [43]:
(   
 socios
        .select(f.year('data_de_entrada_sociedade').alias('ano_entrada'))
        .where('ano_entrada >= 2010')
        .groupBy('ano_entrada')
        .count()
        .orderBy('ano_entrada', ascending=True)
        .show()
)

+-----------+------+
|ano_entrada| count|
+-----------+------+
|       2010| 79337|
|       2011| 83906|
|       2012| 80101|
|       2013| 83919|
|       2014| 80590|
|       2015| 80906|
|       2016| 81587|
|       2017| 90221|
|       2018| 99935|
|       2019|118248|
|       2020|125927|
|       2021| 56316|
+-----------+------+

In [44]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [45]:
(
    empresas
        .select(
            'cnpj_basico'
            ,'capital_social_da_empresa'
            ,'porte_da_empresa')
        .groupBy(
            'porte_da_empresa')
        .agg(
            f.avg('capital_social_da_empresa').alias('Media_do_capital_social'),
            f.count('cnpj_basico').alias('Frequencia')
        )
        .orderBy('porte_da_empresa', ascending=True)
        .show(truncate=False)

)

+----------------+-----------------------+----------+
|porte_da_empresa|Media_do_capital_social|Frequencia|
+----------------+-----------------------+----------+
|NULL            |8.35421888053467       |5985      |
|1               |339994.53313506936     |3129043   |
|3               |2601001.7677092673     |115151    |
|5               |708660.4208249798      |1335500   |
+----------------+-----------------------+----------+

In [46]:
(
    empresas
        .select(
            'capital_social_da_empresa'
            )
       .summary()
        .show(truncate=False)

)

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|count  |4585679                  |
|mean   |503694.5478542675        |
|stddev |2.1118691490537405E8     |
|min    |0.0                      |
|25%    |0.0                      |
|50%    |1000.0                   |
|75%    |7000.0                   |
|max    |3.22014670262E11         |
+-------+-------------------------+

# Juntando DataFrames

In [47]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [48]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: date (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [49]:
empresas_join = estabelecimentos.join(empresas, 'cnpj_basico', how='inner')

In [50]:
empresas_join.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: date (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [51]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [52]:
freq = empresas_join\
    .select(
        'cnpj_basico', 
        f.year('data_de_inicio_atividade').alias('data_de_inicio')
    )\
    .where('data_de_inicio >= 2010')\
    .groupBy('data_de_inicio')\
    .agg(f.count("cnpj_basico").alias("frequencia"))\
    .orderBy('data_de_inicio', ascending=True)

In [53]:
#freq.show()

In [54]:
#freq.union(
    #freq.select(
       # f.lit('Total').alias('data_de_inicio'),
       # f.sum(freq.frequencia).alias('frequencia')   
   # )
#).show()

# SparkSQL

In [56]:
empresas.createOrReplaceTempView('view_empresas')

In [57]:
(
    spark
        .sql('''
             Select * from view_empresas
             ''').show(5)
)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                      0.0|               1|                       NULL|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                      0.0|               5|                       NULL|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                      0.0|               5|                       NULL|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                      0.0|               5|                       NULL|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                   4000.0|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [65]:
(
    spark
        .sql('''
             Select 
                porte_da_empresa
                ,round(sum(capital_social_da_empresa),2) as total_capital
                from view_empresas
                group by  porte_da_empresa
                order by   porte_da_empresa desc
             ''').show()
    
    
)

+----------------+-------------------+
|porte_da_empresa|      total_capital|
+----------------+-------------------+
|               5| 9.4641599201176E11|
|               3| 2.9950795455349E11|
|               1|1.06385751394456E12|
|            NULL|            50000.0|
+----------------+-------------------+

# Formas de armazenamento

## Arquivos CSV

In [67]:
empresas.write.csv(
    path= '../data/csv/empresas',
    mode= 'overwrite',
    sep= ';',
    header=True
)

In [68]:
estabelecimentos.write.csv(
    path= '../data/csv/estabelecimentos',
    mode= 'overwrite',
    sep= ';',
    header=True
)

In [69]:
socios.write.csv(
    path= '../data/csv/socios',
    mode= 'overwrite',
    sep= ';',
    header=True
)

In [70]:
empresas.write.parquet(
    path= '../data/parquet/empresas',
    mode= 'overwrite'
)

In [71]:
socios.write.parquet(
    path= '../data/parquet/socios',
    mode= 'overwrite'
)

In [72]:
estabelecimentos.write.parquet(
    path= '../data/parquet/estabelecimentos',
    mode= 'overwrite'
)

In [ ]:
empresas_parquet = spark